@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins", sans-serif;
  background: url("https://wallpaperaccess.com/full/347644.jpg") no-repeat fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
